@media only screen and (max-width: 767px) {
    footer p{
        font-size: 9px;
    }
    .card-cust {
        margin: 0px 8px;
    }
    #top-section {
        background-repeat: repeat;
    }
    .info-cust h4{
        font-size: 15px;
        font-weight: 900;
    }
    .carousel-slide .card-cust img {
        height: 114px;
    }
    .recipe-details {
       width: 90%;
    }
    .recipe-details-txt ul li{
        font-size: 15px;
    }
    .recipe-details-txt p {
        font-size: 12px;
    }
    .input-data h2 {
        font-size: 16px;
    }
    .info h2 {
        margin: 1rem;
        font-size: 19px;
    }
    .msg-btn {
        font-size: 15px;
    }
    .services-div .service-card p {
        font-size: 15px;
    }
}